work
playbook
Data
results
.nextflow.*
.nextflow/
.nf-test.log
flowchart.png
Mouse_39.110_STAR_75bp
Mus_musculus_GeneAnnot.GRChm39.110.gtf
demoreport
flow.png
count_data.ipynb
Mus_musculus_Genome.GRChm39.110.fa
flow-diagram.png
bin
.nextflow-console.log
input_params_vm.json
singularity_cache
run
workflow-test-data
test-results
input_params_test.json

##
__pycache__
.vscode
setup.py
user_input.ini
dist
user_input_test.txt
test_fastq_data
input_params*json
nf_main.slurm
test_data
.coverage
.pytest_cache
htmlcov
nf-test-install
nf-test.config
null